{% extends 'base.html' %}

{% block content %}
{% if not created %}
    <div style="margin-top: 30px;">
        <form action="." method="POST"> {% csrf_token %}
            <div style="margin-top: 30px;">
                <div style="margin-top: 30px;">
                    <input type="text" name="title" placeholder="Title" />
                </div>
                <div style="margin-top: 30px;">
                    <textarea name="content" placeholder="Content" ></textarea>
                </div>
                <div style="margin-top: 30px;">
                    <button type="submit">Create Article</button>
                </div>
            </div>
        </form>
    </div>
{% else %}

<p>Your article was created.</p>
<p><a href='/articles/{{ object.id }}'>{{ object.title }}-{{ object.content }}</a></p>

{% endif %}
{% endblock content %}